.header{
    background-image: linear-gradient(to right, rgb(0 0 0 / .8), rgb(0 0 0 / .7)), url(../public/img/Cubos-de-Rubik.jpg);
    padding: 5rem 0;
    background-size: cover;
    background-position: 50%;
}

.barra{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 768px){
    .barra{
        flex-direction: row;
        justify-content: space-between;
    }
}

.navegacion{
    margin-top: 5rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}

@media (min-width: 768px) {
    .navegacion{
        margin-top: 0;
    }
}

.navegacion a { 
    color: var(--blanco); /*variable tipo sas*/
    text-decoration: none;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: bold;
    padding: .5rem;
    transition-property: background-color;
    transition-duration: .4s;
}

.navegacion a:hover,
.active{
    background-color: rgb(31, 69, 236);
}